* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46ed;
    --cor-secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisEscurido: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

/* ================= NAV =================== */

.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.8); /* mais opaco */
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
    backdrop-filter: blur(10px);
}


.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

/* underline animado */
.menu-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--cor-secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}



.cabecalho {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding-top: 7rem; 
}


.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: rgba(79, 70, 229, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
}

.cabecalho-sub-titulo {
    font-size: 1.8rem;
}



.sobre {
    padding: 6rem 1rem;
}

.sobre-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.sobre-caixa {
    max-width: 700px;
    margin: 0 auto;
    padding: 2.8rem 3rem;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2),
                inset 0 0 20px rgba(255, 255, 255, 0.02);
}

.sobre-caixa p {
    font-size: 1.1rem;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 1.5rem;
    opacity: 0.9;
}

.sobre-caixa p:last-child {
    margin-bottom: 0;
}



.projetos {
    padding: 6rem 2rem;
}

.projetos-titulo {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;

}

.projetos-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.03);
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    border: 1px solid var(--vidro);
    overflow: hidden;
    backdrop-filter: blur(6px);
    padding-bottom: 1rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, .3);
}

.projeto-imagem {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.caixa-textos-projetos{
    padding: 1.5rem;
}

.info-projetos {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.paragrafo-projetos {
    color: rgba(226, 232, 240, .8);
    line-height: 1.25rem;
}

/* ================= CONTATOS =================== */

.contatos {
    padding: 6rem 2rem;
    
}

.contatos-titulo {
      font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;

}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}
.grupo-form {
    margin-bottom: 1.5rem;

}
.campo-form{
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--claro);
    font-size: 1rem;
    outline: none;
    transition: 0.3s ease;
}

.campo-form:focus {
    border-color: var(--primaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-form {
    width: 100%;
    padding: 1rem 2rem;
    background: linear-gradient(90deg, var(--primaria), var(--cor-secundaria));
    border: none;
    border-radius: 8px;
    color: var(--claro);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.botao-form:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
}

.particulas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, vac(--primaria) 0%, transparent 20px),
        radial-gradient(circle at 90% 80%, var(--cor-secundaria) 0%, transparent 20%),
        var(--maisEscurido);
}

@keyframes flutuar {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}